@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {

    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    
}

.card {

    width: 400px;

}

main {

    
    background-color: white;
    border-radius: 10px;
}

h1 {

    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p{

    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

img {

    border-radius: 10px;
}

.container {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}